@import 'css/variables';

button, .btn {
    font-size: 1rem;
    background: $gray-80;
    color: $gray-30;
    border: 2px solid $gray-40;
    padding: .5rem 1rem;
    border-radius: .25rem;
    box-shadow: 2px 3px 10px -3px rgba(0,0,0,0.5);
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:hover, &:focus {
        border: 2px solid $primary;
        outline: none;
        box-shadow: 0 0 10px 0 $secondary;
        background: $bg-primary;
        color: $gray-20;
        text-decoration: none;
    }
}

.btn--link {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    color: $primary;

    &:hover, &:focus {
        border: none;
        outline: none;
        box-shadow: none;
        background: transparent;
        color: $secondary;
    }
}

.btn--sm {
    font-size: .8rem;
    padding: .4rem .8rem;
}

.button:disabled, .btn:disabled {
    background: $gray-80;
    border-color: $gray-60;
    color: $gray-60;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    cursor: auto;

    &:hover, &:focus {
        background: $gray-80;
        border-color: $gray-60;
        color: $gray-60;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        cursor: auto;
    }
}

.button-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.button-group--spread {
    justify-content: space-between;
}

.button-group--split-left {
    button:first-child, .btn:first-child {
        margin-right: auto;
    }
}

.button-group--split-right {
    button:last-child, .btn:last-child {
        margin-left: auto;
    }
}
