.dialog-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
    overflow-x: hidden;
}

.dialog {
    min-width: 50vw;
    // max-width: 80vw;
}
