@import 'css/variables';

.papersheet {
    background: url(../../images/paper.jpg);
    color: $gray-20;
    padding: 1rem;
    // transform: rotate(-1.5deg);
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.6);

    a:not(.btn) {
        color: $primary;
    }
    
    a:not(.btn):hover,
    a:not(.btn):focus {
        color: darken($primary, 5%);
    }
}

.papersheet__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: .5rem;
}

.papersheet__heading {
    font-size: 1.75rem;
    margin: 0;
}

.papersheet__body {
    border: 1px solid $gray-20;
    padding: 1rem;
}
