.rotate-cw1 { transform: rotate(0.25deg); }
.rotate-cw2 { transform: rotate(0.50deg); }
.rotate-cw3 { transform: rotate(0.75deg); }
.rotate-cw4 { transform: rotate(1.00deg); }
.rotate-cw5 { transform: rotate(1.25deg); }
.rotate-cw6 { transform: rotate(1.50deg); }
.rotate-cw7 { transform: rotate(2.00deg); }
.rotate-cw8 { transform: rotate(3.00deg); }
.rotate-cw9 { transform: rotate(5.00deg); }

.rotate-ccw1 { transform: rotate(-0.25deg); }
.rotate-ccw2 { transform: rotate(-0.50deg); }
.rotate-ccw3 { transform: rotate(-0.75deg); }
.rotate-ccw4 { transform: rotate(-1.00deg); }
.rotate-ccw5 { transform: rotate(-1.25deg); }
.rotate-ccw6 { transform: rotate(-1.50deg); }
.rotate-ccw7 { transform: rotate(-2.00deg); }
.rotate-ccw8 { transform: rotate(-3.00deg); }
.rotate-ccw9 { transform: rotate(-4.00deg); }

