<div class="answerboard <%= if show_answerboard(assigns) do %>show<% end %>">
    <%= for answer <- @game.answers do %>
        <div class="answerboard__answer">
            <%= answer %>
        </div>
    <% end %>
</div>