<div class="query">
    <div class="query__content">
        <div class="query__header">
            Submit your answer!
        </div>
        <form class="query__form">
            <textarea name="submission"></textarea>
        </form>
    </div>
</div>
