// Colors
$black: #000;
$white: #fff;
$brown: #402311;

$gray-10: #222;
$gray-20: #333;
$gray-30: #555;
$gray-40: #777;
$gray-50: #999;
$gray-60: #aaa;
$gray-70: #ddd;
$gray-80: #eee;
$gray-90: #EDEDED;

$primary: #CC6D00;
$secondary: #FF8800;
$tertiary: #FFA61F;
$background: #402311;
$bg-primary: #e6d1b8;

$success: #008800;
$failure: #880000;

// Sizing
$header-height: 4rem;
$header-height-lg: 5rem;

// Responsive breakpoints
$header-lg: 35rem;
