@import "reboot.css";

// Base CSS
@import "base/base";
@import "base/images";
@import "base/live_view";
@import "base/clearfix";
@import "base/forms";
@import "base/main";
@import "base/buttons";
@import "base/dialog";
@import "base/rotation";
@import "base/disabled-overlay";

// Components
@import "components/papersheet";
@import "components/multi-switch";
@import "components/toggle-switch";
@import "components/setting";
@import "components/menu-icon";
@import "components/main-header";
@import "components/main-menu";
@import "components/main-footer";
@import "components/join-stack";
@import "components/create-sheet";
@import "components/gameboard";
@import "components/game-header";
@import "components/game-control";
@import "components/game-menu";
@import "components/answerboard";
@import "components/scoreboard";
@import "components/query";
