@import '../variables';

.answerboard {
    flex: 1;
    padding: 2rem;
    display: none;
}

.answerboard.show {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.answerboard__answer {
    @extend .papersheet;
    min-width: 15rem;
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
