@import '../variables';

.game-control {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $game-control-height;
    background: rgba(0,0,0,0.7);
    color: $gray-80;
    padding: 0 1rem;
    z-index: 500;

    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $game-header-lg) {
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        padding: 0;
        z-index: auto;
    }
}

.game-control__buttons {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.game-control__button {
    flex: 1;
    margin-right: 1rem;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    outline: none;
    color: $gray-90;
    white-space: nowrap;

    &:hover, &:focus {
        border: 2px solid rgba(255,255,255,0.5);
        outline: none;
        box-shadow: none;
        background: rgba(255,255,255,0.1);
        color: $gray-90;
        text-decoration: none;
    }
}

.game-control__menu {
    position: fixed;
    bottom: calc(#{$game-control-height} + 1rem);
    right: 1rem;
    transform: translateX(110%);
    transition: transform .3s;
    z-index: 600;

    @media (min-width: $game-header-lg) {
        bottom: auto;
        top: calc(#{$game-control-height} + 1rem);
        right: 1rem;

        .game-menu__list {
            flex-direction: column-reverse;
        }

        .game-menu__item ~ .game-menu__item {
            border-top: none;
            border-bottom: 1px solid $gray-20;
        }
    }
}

.game-control__menucheckbox:checked ~ .game-control__menu {
    transform: translateX(0%);
}
