@import 'css/variables';
@import '../mixins/hide-control';

.main-header {
  flex: 0 0 $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.4);
  transition: background .2s;
  padding: 0 1rem;
  overflow: hidden;
  z-index: 500;

  body.is-scrolled & {
    background: rgba(0,0,0,0.8);
  }

  @media (min-width: $header-lg) {
    height: $header-height-lg;
  }
}

.main-header__logolink {
  height: 80%;
  position: relative;
  top: 4px;
}

.main-header__logo {
  height: 100%;
  width: auto;
}

.main-header__menu {
  @media (max-width: $header-lg) {
    transform: translateX(110%);
    transition: transform .3s;
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$header-height});
    padding: 1rem;
    z-index: 600;
  }

  @media (min-width: $header-lg) {
    margin-left: 2rem;
    height: 100%;
  }
}

.main-header__menuicon {
  display: block;
  @media (min-width: $header-lg) {
    display: none;
  }
}

@media (max-width: $header-lg) {
  .main-header__menucheckbox:checked ~ .main-header__menu {
    transform: translateX(0%);
  }
}
