@import '../variables';

.papersheet {
    background-color: $gray-80;
    background-image: url(../../images/paper.jpg);
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.6);
    font-family: "Roboto Slab", serif;
    color: $gray-20;
    padding: 1rem;

    a:not(.btn) {
        color: $primary;
    }
    
    a:not(.btn):hover,
    a:not(.btn):focus {
        color: darken($primary, 5%);
    }
}

.papersheet__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: .5rem;
}

.papersheet__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: .5rem;
}

.papersheet__heading {
    font-size: 1.75rem;
    margin: 0;
}

.papersheet__body {
    border: 1px solid $gray-20;
    padding: 1rem;
}

.papersheet__body + .papersheet__body {
    border-top: none;
}
