@import '../variables';

.query {
  position: fixed;
  top: $game-header-height;
  left: 0;
  right: 0;
  bottom: $game-control-height;
  padding: 1rem;
  transform: translateX(105%);
  transition: transform .3s;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  @media (min-height: 25em) {
    align-items: center;
  }
}

.query.show {
  transform: translateX(0);
}

.query__content {
  @extend .papersheet;
  //min-width: 30em;
  width: 100%;
  max-width: 30em;
}

.query__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.query__heading {
  font-size: 1.5em;
}

.query__form {
  @extend .papersheet__body;
}


.query__answerlabel {
  font-size: 1.2em;
}

.query__answerinput {
  width: 100%;
  height: 5em;
  resize: none;
  max-height: 50vh;
}