<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Coming+Soon|Covered+By+Your+Grace|Indie+Flower|Roboto+Slab:400,700|Roboto:400,700|Shadows+Into+Light|Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <title>Answercast</title>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
