<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/static/css/app.css") %>"/>

    <title>Answercast</title>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/static/js/app.js") %>"></script>
  </body>
</html>
